<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <!--

       (generative options) - generate puzzle from a bitmap
       (background options) {
         boolean: change bg around pieces that are low contrast against bg
         boolean: scrolling/unscrolling bg
       }
       (play options) {
         boolean: activate automating piecing together action

       }

       // EVENTS: click, long-click, flick, drag, drag-after-long-click, rotate with two fingers, ...
       // ACTIONS: scroll, zoom, rotate bg, move or rotate piece, zoom in on piece, show context menu, select, select group,
       // ACTIONS: lock/unlock piece/group, ...

       + write help popups with explanation for options and menu items
       + give help by automating trying to put pieces together
       + define and give names to areas of the image
       + give hints or help (like these two pieces don't fit together or this belongs in that area)
       + sort/group pieces manually or by properties (in/out patterns, edge pieces, corner pieces, neckWidth, curvature, colors, areas (cheating!), ...)
       + give names to pieces or groups
       + move pieces through temporary storage across the play mat
       + search for pieces, individually and as part of larger pieces/groups
       + lock pieces in place
       + select or change background

         -->

<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>-->
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>

    <application android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/JigsawPuzzle_Theme"
        tools:targetApi="31"
        >
        <activity android:name=".Act"
            android:configChanges="orientation"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
